<style>

header {
  background-color: #262626;
}

body {
  text-align: center;
  background-color: #262626;
  margin: 30px;
}

h1 {
  font-size: 60px;
  text-align: center;
  color: blue;
}


.race_track {
  text-align: left;
  background-color: green;
  border: 5px, dashed,
}

.race_track td {
  background-color: red;
  height: 90px;
  width: 64px;
  text-align: center;
}

td#car1 {
  background-color: blue;
}
td#car2 {
  background-color: yellow;
}


</style>
